<h2>Login</h2>

<form id="login-form" class="card-body" method="POST" action="/api/user/login">
  <div>
    <label for="username-input-login">Username</label>
    <input name="username" type="text" id="username-input-login" />
  </div>
  <div>
    <label for="password-input-login" class="form-label">Password</label>
    <input name="password" type="password" id="password-input-login" />
  </div>
  <a type="button" href="/game"> Login</a>
  <a type="button" href="/signup" >Sign up instead</a>
</form>

{{!-- <script src="/js/login.js"></script> --}}

{{!-- </head>
<body>
    <h2>Login</h2>

<form id="login-form" class="card-body" method="POST" action="/api/user/login">
  <div>
    <label for="username-input-login">Username</label>
    <input name="username" type="text" id="username-input-login" />
  </div>
  <div>
    <label for="password-input-login" class="form-label">Password</label>
    <input name="password" type="password" id="password-input-login" />
  </div>
  <a type="button" href="/game"> Login</a>
  <a type="button" href="/signup">Sign up instead</a>
</form>
</body>
</html> --}}