<h2>SIGNUP</h2>
<form id="signup-form" class="card-body" method= "POST" action="/api/user">
  <div>
    <label for="username-input-signup">Username</label>
    <input name="username" type="text" id="username-input-signup" />
  </div>
  <div>
    <label for="password-input-signup">Password</label>
    <input name= "password" type="password" id="password-input-signup" />
  </div>
  {{!-- <button type="submit" >Signup!</button> --}}
  <a type="button" href="/login"> Signup!</a>
  <a type="button" href="/login">Now Login</a>
</form>

{{!-- <script src="/js/signup.js"></script> --}}